<% content_for :title do %>
    <%= t('.edit') %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_gift_givens.backend_givens_path %>">
    <i class="glyphicon glyphicon-gift"></i> <%= t('.givens') %>
    </a> / <%= @given.code %> / <%= t('.edit') %>
<% end %>

<% content_for :page_toolbar do %>
    <% if can? :create, @given %>
        <%= erp_component('button/create', {
            text: t('.create'),
            href: erp_gift_givens.new_backend_given_path,
            class: 'btn-noborder'
        }) %>
    <% end %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @given.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', given: @given %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>