<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped flip-content">
            <thead class="flip-content">
                <tr>
                    <th width="20%" class="text-left"><%= t('.product_code') %></th>
                    <th class="numeric text-left"><%= t('.product_name') %></th>
                    <th class="numeric text-right"><%= t('.quantity') %></th>
                    <th class="numeric text-right"><%= t('.unit') %></th>
                </tr>
            </thead>
            <tbody>
                <% @given.given_details.each do |given_detail| %>
                <tr>
                    <td class="text-left"><strong><%= given_detail.product_code %></strong></td>
                    <td class="numeric text-left"><%= given_detail.product_name %></td>
                    <td class="numeric text-right"><%= format_number(given_detail.quantity) %></td>
                    <td class="numeric text-right"></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>