<% content_for :title do %>
    <%= t('.givens') %>
<% end %>

<% content_for :page_title do %>
    <i class="glyphicon glyphicon-gift"></i> <%= t('.givens') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_gift_givens.new_backend_given_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.given_from_date'),
                name: 'given_from_date',
                placeholder: t('.select_from_date')
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control('date', {
                label: t('.given_to_date'),
                name: 'given_to_date',
                placeholder: t('.select_to_date')
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_gift_givens.list_backend_givens_path,
    keywords: [
        {
            text: t('.given_code'), name: 'erp_gift_givens_givens.code'
        },
        {
            text: t('.receiver'),
            name: 'erp_contacts_contacts.name',
            select: {
                name: 'erp_contacts_contacts.id',
                data_url: erp_contacts.dataselect_backend_contacts_path
            }
        },
        {
            text: t('creator'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        }
    ],
    actions: [
        
    ],
    filters: [
        {
            text: t('.draft'), name: 'erp_gift_givens_givens.status', value: Erp::GiftGivens::Given::STATUS_DRAFT, checked: true
        },
        {
            text: t('.active'), name: 'erp_gift_givens_givens.status', value: Erp::GiftGivens::Given::STATUS_ACTIVE, checked: true
        },
        {
            text: t('.delivered'), name: 'erp_gift_givens_givens.status', value: Erp::GiftGivens::Given::STATUS_DELIVERED, checked: false
        },
        {
            text: t('.deleted'), name: 'erp_gift_givens_givens.status', value: Erp::GiftGivens::Given::STATUS_DELETED, checked: false
        }
    ],
    columns: [
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.given_date'), name: 'given_date', value: true, checked: true
        },
        {
            text: t('.contact'), name: 'contact', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: false
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        },
        {
            text: t('.creator'), name: 'creator', value: true, checked: true
        },
        {
            text: t('.approver'), name: 'approver', value: true, checked: true
        },
        {
            text: t('.created_at'), name: 'created_at', value: true, checked: false
        }
    ]
) %>