<% content_for :title do %>
    <%= t('.show') %> # <%= @given.code %>
<% end %>

<% content_for :page_title do %>
    <a href="
        <%= erp_gift_givens.backend_givens_path %>
    ">
    <i class="glyphicon glyphicon-gift"></i> <%= t('.givens') %>
    </a> / <%= t('.show_given') %> # <%= @given.code %>
    <%= status_label(@given.status) %>
<% end %>

<% content_for :page_toolbar do %>

    <%= erp_component('button/actions', {
        actions:
        [
            {
                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                url: erp_gift_givens.edit_backend_given_path(@given),
                hide: false,
            },
            {
                text: '<i class="fa fa-check-square-o"></i> '+t('.activate'),
                href: erp_gift_givens.set_activate_backend_givens_path(id: @given.id),
                data_method: 'PUT',
                data_confirm: t('.activate_confirm'),
                hide: (@given.is_active? || @given.is_delivered? || @given.is_deleted?),
                class: 'ajax-link'
            },
            {
                text: '<i class="fa fa-send-o"></i> '+t('.delivery'),
                href: erp_gift_givens.set_delivery_backend_givens_path(id: @given.id),
                data_method: 'PUT',
                data_confirm: t('.delivery_confirm'),
                hide: (@given.is_draft? || @given.is_delivered? || @given.is_deleted?),
                class: 'ajax-link'
            },
            {
                text: '<i class="fa fa-close"></i> '+t('.delete'),
                href: erp_gift_givens.set_deleted_backend_givens_path(id: @given.id),
                data_method: 'PUT',
                data_confirm: t('.delete_confirm'),
                hide: @given.is_deleted?,
                class: 'ajax-link'
            }
        ],
        text: t('.options'),
        class: 'btn-noborder'
    }) %>
    
<% end %>

<%= erp_datalist(
    url: erp_gift_givens.show_list_backend_givens_path(id: @given.id),
    columns: [
        {
            text: t('.ordinal_number'), name: 'ordinal_number', value: true, checked: true
        },
        {
            text: t('.items'), name: 'items', value: true, checked: true
        },
        {
            text: t('.warehouse'), name: 'warehouse', value: true, checked: true
        },
        {
            text: t('.state'), name: 'state', value: true, checked: true
        },
        {
            text: t('.units'), name: 'units', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: false
        }
    ]
) %>
